@media(max-width: 768px) {
    ul {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    li {
        display: inline;
        list-style-type: none; 
        padding: 5px;
        margin: 0px;
        margin-right: 0px;
        color: white;
    }
    * {
        background-color: #4b4b4b;
        margin: 0;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        
    }
    a:hover {
        color: mediumpurple;
    }
   
    .wave {
        position: absolute;
        bottom: 40px;
    }
    .purplebox {
        width: 100%;
        height: 11.7vw;
        position: absolute;
        bottom: 5px;
        background-color: #9c88ff;
    }
    
    .centerfont {
        color: white;
        margin-top: 50px;
        text-align: center;
        font-size: 50px;
    }
    
    .centerlogo {
        text-align: center;
        font-size: 70px;
        color: #9c88ff; 
    }
    
    .centerdarkmode {
        margin-top: 350px;
        text-align: center;
        color: white;
    }
    .fa-moon {
        margin-left: 20px;
    }
    
    
}

hr {
    width: 100%;
    color: white;
}

.fa-book, .fa-home {
    color: mediumpurple;
}

 